<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      <a [routerLink]="['/']"><img class="logo" src="./assets/logo.jpeg" /></a>
      Powered by lovemyproduct.biz
    </span>
    <span class="example-spacer"></span>
    <span><button mat-icon-button (click)="help()"><mat-icon>help</mat-icon></button></span>
    <!-- span><button mat-icon-button (click)="settings()"><mat-icon>settings</mat-icon></button></span -->
    <!-- span><button mat-icon-button (click)="profile()"><mat-icon>person</mat-icon></button></span -->
  </mat-toolbar-row>
</mat-toolbar>
